<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  

  <title>OnnuriQuick</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet"  href="views/home/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="views/home/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="views/home/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="home">
            <img src="views/home/images/logo.png" alt="" />
            <!-- 여기에 로고 이미지 들어감 -->
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="home">홈 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_entry">주문 입력</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_list">주문 리스트 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="customer_list">고객 리스트</a>
              </li>
            </ul>
            <div class="user_option">
              <% if (session.user) { %>
                <!-- 로그아웃 버튼 -->
                <a href="#" onclick="confirmLogout()">
                  <img src="views/home/images/user.png" alt="">
                  <span>
                    Logout
                  </span>
                </a>
              <% } else { %>
                <!-- 로그인 버튼 -->
                <a href="/login">
                  <img src="views/home/images/user.png" alt="">
                  <span>
                    Login
                  </span>
                </a>
              <% } %>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
            
            <script>
              function confirmLogout() {
                if (confirm('정말 로그아웃 하시겠습니까?')) {
                  // 사용자가 확인을 눌렀을 경우 로그아웃 페이지로 이동
                  window.location.href = "/logout";
                }
              }
            </script>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
     
    <!-- slider section -->
    <section class="slider_section ">
      
      <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
          </ol>
        </div>
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      First Page
                      <span>
                        aadsasd
                      </span>
                    </h1>
                    <p>
                      대충 이 어플 및 사이트 홍보하는 말이 들어갈 예정인 부분이니 쓸 내용 생각해주면 땡스 없어도 상관없는 부분이긴 함
                    </p>
                    
                  </div>
                </div>
                
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Second Page
                     
                    </h1>
                    
                    <h1>
                      <span>
                        asd
                      </span>
                    </h1>
                    <p>
                      여기에 대충 하고싶은 말을 말해주면 알아서 적겠심더 2 추가로 밑에 버튼처럼 넣고싶은 버튼 있다면 ㄱㄱ
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Any Button
                      </a>
                      <a href="" class="btn-2">
                        Anybutton
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Third Page
                     
                    </h1>
                    
                    <h1>
                      <span>
                        asd
                      </span>
                    </h1>
                    <p>
                     이젠 따로 다른 내용 안적겠음 페이지 내용만 표기해둘게 버튼 이름은 아무거나 해봄
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Last Page
                     
                    </h1>
                    
                    <h1>
                      <span>
                        asd
                      </span>
                    </h1>
                    <p>
                      아무말~
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


 

  
 

  

  
 

 

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Onnuri Quick
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="views/home/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                회사 주소
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                회사 번호
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                회사 이메일
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              여기에 기본적인 회사 정보가 들어갈 예정
          </div>
        </div>

        
        
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="/js/home/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/home/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>