<!DOCTYPE html>
<html lang = "ko">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>OnnuriQuick</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="views/home/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="views/home/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="views/home/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="home">
            <img src="views/home/images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
             <li class="nav-item">
                <a class="nav-link" href="home">홈 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order_entry">주문 입력</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="order_list">주문 리스트 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="customer_list">고객 리스트</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="login">
                <img src="views/home/images/user.png" alt="">
                <span>
                  Login
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>



  <!-- brand section -->

  <section class="brand_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          주문 리스트
        </h2>
      </div>

      
     

      <div id="backbody">
        
        <div id="frame">
        
        <form>
       
      
          <br/>
          
          <div id="search">
          
            <div style="border: solid 1px gray; padding: 20px;">
              <select style="padding: 5px;">
          
                <option>배달 현황</option>
            
                <option>입금전</option>
                
                <option>배송준비중</option>
              
                <option>배송중</option>
              
                <option>배송완료</option>
              
                <option>취소</option>
              
                <option>교환</option>
                
                <option>반품</option>
          
              </select>&nbsp;
          
          
              <input type="date"
              style="padding: 3px;" /> ~ <input type="date" style="padding: 3px;" />&nbsp;

              <button type ="button" id = "searchBtn">
               조회
              </button>
          
             
          
          
            </div>  
          </div>

          <br/><br/>

          <span style="font-size: 10pt; font-weight: bold; display:inline-block; padding: 10px 10px; ">주문 상품 정보</span> 
          <table id="productInfo">
            <thead>
              <tr>
                <th>현황</th>
                <th>접수번호</th>
                <th>수령인</th>
                <th style="width: 550px;">상세주소</th>
                
                <th>픽업예상/배달완료</th>
                
              </tr>
            </thead>

            <tbody>
              <tr>

              </tr>
            </tbody>
          </table>
          <div align ="center">
            <span style=" display:inline-block; padding-top: 30px;">주문 내역이 없습니다.</span>
          </div>

          <div class="paging">
          <!-- Icon은 fontawesome에서 가져왔습니다. -->
          <i class="fa-solid fa-angles-left" id="first_page"></i>
          <i class="fa-solid fa-angle-left" id="prev_page"></i>
          <div class="pages">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
          <i class="fa-solid fa-angle-right" id="next_page"></i>
          <i class="fa-solid fa-angles-right" id="last_page"></i>
        </div>


        </form>
      </div>
    </div>
       
                
         
        
     
    </div>
  </section>

  <!-- end brand section -->


  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          Onnuri Quick
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="views/home/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                회사 주소
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                회사 번호
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="views/home/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                회사 이메일
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              여기에 기본적인 회사 정보가 들어갈 예정
          </div>
        </div>

        
        
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="js/home/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/home/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>